/*
.first-section{
  border: 1px dashed pink;
}
.header{
  border: 1px dashed white;
}
.hero{
  border: 1px dashed white;
}
.left-hero,
.upper-left-hero,
.middle-left-hero,
.lower-left-hero,
.right-hero{
  border: 1px dashed pink
}
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

body{
  margin: 0;
  font-family: Roboto;
}

.first-section{
  background-color: #1f2937;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 200px;
}

a{
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
}

.logo{
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.hero{
  display: flex;
  padding: 80px 200px;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.iu-hero{
  width: 500px;
}

.left-hero{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.upper-left-hero{
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.middle-left-hero{
  font-size: 18px;
  color: #e5e7eb;
  max-width: 450px;
  margin-bottom: 16px;
}

.lower-left-hero{
  display: flex;
}

button{
  border: none;
  color:#f9faf8;
  background-color: #3882f6;
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}
button:hover{
  cursor: pointer;
}
button:active{
  opacity: 0.90;
}

.second-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 100px;
}

.upper-info{
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 45px 100px;
}

.lower-info{
  display: flex;
  justify-content: center;
  margin: 0px 100px;
  gap: 45px;
  flex-wrap: wrap;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 165px;
  gap: 4px;
}

.img{
  width: 165px;
  height: 165px;
  object-fit: cover;
  border: 5px solid #3882f6;
  border-radius: 20px;
}

.desc{
  font-size: 18px;
  color: #1f2937;
}

.third-section{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 100px 280px;
  background-color: #e5e7eb;
}

.quote{
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
}

.source{
  font-size: 24px;
  font-weight: 700;
  align-self: flex-end;
  margin-right: 40px;
}

.fourth-section{
  height: 330px;
}

.fourth-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-container{
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  padding: 40px 120px;
  justify-content: space-between;
  border-radius: 10px;
  gap: 120px;
  align-items: center;
}

.upper-left-container{
  font-size: 24px;
  font-weight: 500;
}
.lower-left-container{
  font-size: 18px;
}

.right-container{
  border: 2px solid #f9faf8;
  border-radius: 8px;
}

.footer{
  display: flex;
  height: 100px;
  background-color: #1f2937;
  color: #e5e7eb;
  justify-content: center;
  align-items: center;
}
